body {
    font: Arial, sans-serif;
    background-color: #a40d0d;
    margin: 0;
    padding: 10;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

.container {
    font:italic;
    text-align:center;
    display: block;
}

h1 {
    color: #333;
}

button {
    padding: 10px 20px;
    font: lighter;
    font-size: 16px;
    cursor: pointer;
    background-color: #f0f3f6;
    color: #077e99;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #070707;
}
